
.l-container {
   max-width     : $max-witdh;
   padding-left  : 1.5rem;
   padding-right : 1.5rem;
   display       : flex;
   flex-direction: column;
   margin-left   : auto;
   margin-right  : auto;
   height        : 100%;
}

.l-container2{
   max-width     : 1600px;
   padding-left  : 1rem;
   padding-right : 1rem;
   display       : flex;
   flex-direction: column;
   margin-left   : auto;
   margin-right  : auto;
   height        : 100%;
}


.center__content {
   text-align: center;
}

.center__item {
   margin: 0 auto ; 
}

.secction__separator {
   margin-top   : var(--section-separator);
}

.icon{
   font-size: 4em;
}
.icon2{
   font-size: 1.5em;
}
.flex{
   display: flex;
   align-items: center;
   gap: 0.5em;
   @include from(s) {
      gap: 1em;
   }
}

.flex2{
   display: flex;
   align-items: center;
   gap: 1em;
}
